jumbotron td, th {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

jumbotron .table-top-row {
font-weight: bold;
}

@media (max-width: 767px) {
  .img {
    display: none !important;
  }
}
