<!-- I can't overwrite damn Bootstrap styleshes, so I had to use inline td styling -->

<tr class="table-top-row">
  <td style="data-label: Position; padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Position</td>
  <td style="data-label: Company name;padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Company</td>
  <td style="padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Company URL</td>
  <td style="padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Application URL</td>
  <td style="padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Requirements</td>
  <td style="padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Salary  (K)</td>
  <td style="padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Notes</td>
  <td style="padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Applied</td>
  <td style="padding:10px; width: 150px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">Contacts</td>
  <td style="padding:10px; width: 100px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">DELETE JOB</td>
  <td style="padding:10px; width: 100px; background-color: #264d00; color: white; font-size: 20px; font-family: inherit; ">UPDATE JOB</td>

</tr>
